/* ===================================================
        #common shared css Start
   ===================================================*/
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.container{
    width: 1320px;
    margin: 0 auto 120px;
   
}
a{
    text-decoration: none;
}

/* ===================================================
        #common shared css End
   ===================================================*/


/* ===================================================
        #Banner part Start
   =================================================== */
.banner{
    width: 100%;
    height: 600px;
    background: url('../resources/Banner\ Image.png');
}
.banner h2{
    font-size: 32px;
    font-weight: normal;
    font-family: 'Merriweather', serif;
    color: #10f7e3f0;
    text-align: center;
}
.banner h1{
    font-size: 72px;
    line-height: 95px;
    font-weight: normal;
    font-family: 'Merriweather', serif;
    color: #10f7e3f0;
    text-align: center;
}

.banner .bannerText{
    padding-top: 177px;
}

/* ===================================================
        #Banner part End
   =================================================== */

/* ===================================================
        #Discount part Start
===================================================== */
.discountPart{
    width: 800px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.discountPart .discount{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    text-align: center;
    margin-bottom: 48px;
}
.discountPart p{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    text-align: center;
    margin-bottom: 16px;
}
.discountPart h2{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    text-align: center;
    margin-bottom: 48px;
}

/* ===================================================
        #Discount part End
==================================================== */

/* ===================================================
        #Midnight party part Start
==================================================== */
.midNightParty{
    width: 100%;
    height: 600px;
    display: flex;
    background: url('../resources/Vectorrr.png');
}
.midNightParty .left{
    width: 60%;
    padding: 126px 0px 14px 66px;
    
}
.midNightParty .left h1{
    font-family: 'Merriweather', serif;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 11%;
    font-weight: 900;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.midNightParty .left p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.midNightParty .left .btn1{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background: transparent;
    padding: 5px 10px;
    transition: .3s;
    border: none;
    color: #FFFFFF;


}
.midNightParty .left .btn1:hover{
    background: #FFFFFF;
    border: 1px solid rgb(103, 100, 93);
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
   
}
.midNightParty .right{
    width: 40%;
}
.midNightParty .right img{
    padding: 68px 128px 68px 50px;
}
/* ===================================================
        #Midnight party part End
==================================================== */

/* ===================================================
        #party date part Start
==================================================== */
.partyDate{
    font-family: 'Inter', sans-serif;
    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.039) 100%);
    text-align: center;
    padding: 105px 0;
}

.partyDate h2{
    font-size: 32px;
    line-height: 56px;
    font-weight: 600;
}

.partyDate h2 span{
    color: #FF0000;
}
.partyDate .btn2{
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
    background: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 8px;
    transition: .5s;
    margin-top: 64px;
}
.partyDate .btn2:hover{
    background: transparent;
    color: #FF0000;
}
/* ===================================================
        #party date part End
==================================================== */

/* ===================================================
        #Best offer part start
==================================================== */
.bestOffer{
    display: flex;
}
.bestOffer .left{
    width: 32%;
    padding: 110px 30px 110px 0;
}
.bestOffer .left h2{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.bestOffer .left h1{
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    padding: 16px 0;
}
.bestOffer .left p{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #070211;
    text-align: left;
}
.bestOffer .middle{
    width: 36%;
}
.bestOffer .middle img{
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 25px;
}
.bestOffer .right{
    padding: 90px 30px;
    font-family: 'Inter', sans-serif;
    width: 32%;
}
.bestOffer .right h1{
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 20px;
}
.bestOffer .right p{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #070211;
    text-align: left;
    margin-bottom: 25px;
}

/* ===================================================
        #Best offer part End
==================================================== */

/* ===================================================
        #Holyday sales part Start
==================================================== */
.holydaysSale .textPart{
    text-align: center;
    margin-bottom: 64px;
}

.holydaysSale .textPart h3{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #070211;
    margin-bottom: 28px;
}
.holydaysSale .textPart h1{
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    color: #070211;
    margin-bottom: 26px;
}
.holydaysSale .textPart h1 span{
    color: #FF0000;
}

.holydaysSale .textPart p{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding:0 200px;
    font-family: 'Inter', sans-serif;
    color: #070211;
}
.holydaysSale .imgPart{
    width: 100%;
    height: 662px;
    position: relative;
}

.holydaysSale .imgPart .img1{
    position: absolute;
}
.holydaysSale .imgPart .img2{
    position: absolute;
    top: 77px;
    right: 300px;
    z-index: 1;
}
.holydaysSale .imgPart .img3{
    position: absolute;
    right: 0;
    z-index: -1;
}
.holydaysSale .imgPart .img4{
    margin-top: 431px;
}



/* ===================================================
        #Holyday sales part End
==================================================== */

/* ===================================================
        #Best gifts part Start
==================================================== */
.bestGifts{
    width: 100%;
}
.bestGifts .textPart h4{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
}

.bestGifts .textPart h2{
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    padding: 16px 0;
}
.bestGifts .textPart p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    color: #070211;
    padding-right: 450px;
    padding-bottom: 20px;
}

.bestGifts table tr td{
    width: 424px;
    height: 450px;
    border: 5px red;
    padding: 0 15px;
}

.bestGifts table tr .img1{
    background: url('../resources/Rectangle\ 3.png');
}
.bestGifts table tr .img2{
    background: url('../resources/Rectangle\ 4.png');
}
.bestGifts table tr .img3{
    background: url('../resources/Rectangle\ 5.png');
}
.bestGifts table tr .img4{
    background: url('../resources/Rectangle\ 6.png') no-repeat;
}
.bestGifts table tr .img5{
    background: url('../resources/Rectangle\ 7.png') no-repeat;
}
.bestGifts table tr .img6{
    background: url('../resources/Rectangle\ 8.png') no-repeat;
}

/* ===================================================
        #Best gifts part End
==================================================== */

/* ===================================================
        #Subscriber part start
==================================================== */
.subscriber{
    width: 100%;
    height: 616px;
    background: #FFF2F2;
}
.subscriber img{
    margin: 80px 50% 40px;
    transform: translate(-50%);
}
.subscriber h1{
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    padding: 16px 0;
    text-align: center;
}
.subscriber p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    color: #070211;
   text-align: center;
   padding: 0 212px;
}
.subscriber div{
    width: 50%;
    margin: 48px auto;
    transform: translateX(15%);
}
.subscriber div input{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 22px 80px 18px;
    border: none;
}
.subscriber div .btn3{
    padding: 15px 55px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background: #FF0000;
    border: 1.5px solid #FF0000;
    font-size: 20px;
    text-align: center;
    color: white;
    transition: .6s;
}

.subscriber div .btn3:hover{
    background: transparent;
    color: #FF0000;
}
/* ===================================================
        #Subscriber part End
==================================================== */

/* ===================================================
        #Footer part Start
==================================================== */
footer{
    width: 1600px;
    height: 609px;
    background: #070211;
    margin: 0 auto;
}

footer .address{
    display: flex;
}
footer .address .left{
    width: 50%;
    padding: 120px 140px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    line-height: 40px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
footer .address .right{
    width: 50%;
    padding: 120px 140px;
    margin-left: 400px;
    color: #FFFFFF;
    font-size: 24px;
    text-align: left;
    line-height: 40px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

footer .socialMedia{
    display: flex;
    column-gap: 25px;
    justify-content: center;
}
footer .socialMedia img{
    margin-left: 24px;
}
footer .lastPart{
    display: flex;
}
footer .lastPart .left{
    width: 50%;
    padding: 120px 140px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
footer .lastPart .right{
    width: 50%;
    padding: 120px 140px;
    margin-left: 600px;
    color: #FFFFFF;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
/* ===================================================
        #Footer part End
==================================================== */