/* ===================================================
        #common shared css Start
   ===================================================*/
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.container{
    width: 1320px;
    margin: 0 auto;
   
}

/* ===================================================
        #common shared css End
   ===================================================*/


/* ===================================================
        #Banner part Start
   =================================================== */
.banner{
    width: 100%;
    height: 600px;
    background: url('../resources/Banner\ Image.png');
}
.banner h2{
    font-size: 32px;
    font-weight: normal;
    font-family: 'Merriweather', serif;
    color: #10f7e3f0;
    text-align: center;
}
.banner h1{
    font-size: 72px;
    line-height: 95px;
    font-weight: normal;
    font-family: 'Merriweather', serif;
    color: #10f7e3f0;
    text-align: center;
}

.banner .bannerText{
    padding-top: 177px;
}

/* ===================================================
        #Banner part Start
   =================================================== */